<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Movies</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>All Movies</h1>
        <ul>
            {{range .}}
            <li>
                <strong>Title:</strong> {{.Title}} <br>
                <strong>Director:</strong> {{.Director}} <br>
                <strong>Price:</strong> ${{.Price}} <br>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>