<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>HTML Form</h1>
    <form action="/form" method="POST">
        <input type="text" id="name" name="name" value="Manish" placeholder="Enter your name">
        <input type="text" id="food" name="food" value="food" placeholder="Enter food name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>